input{
    background-color: bisque;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    margin: 2px;
    outline: none;
    height: 50px;
}

button{
    background-color: greenyellow;
    border: 0;
    font-size: 18px;
    height: 50px;
}
.formErrors{
    display: block;
    color: red;
    margin-left: 15px;
}

.add-auto-form{
    margin-bottom: 25px;
}