.li div{
    color: #fff;
    background-color: aquamarine;
}

.card{
    display: flex;
    flex-direction: row;
    background-color: beige;
    margin: 20px auto;
    border-radius: 8px;
    min-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 10px 12px 3px #555;
    flex: 0 1 24%;

}
.card p{
    color: black;
}
.card h1{
    color: black;
    height: 50px;
    width: 300px;
}
.card img{
    margin-right: 1px;
    height: 200px;
    width: 200px;
}
.info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
}
.auto-image{
    position: right;
    margin-right: 1px;
    height: 200px;
    width: 200px;
}

.buttons{
    margin-top: 30px;
    margin-right: 30px;
}
.buttons span{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .card {
        display: grid;
        column-gap: 5%;
    }
    .auto-image{
        position: right;
    }
    .buttons{
        margin-left: 20px;
        margin-bottom: 20px;
    }
 }