.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 350px;
}

.main-container{
    background-color: beige;
}
.search-bar{
    margin: 20px;
    color: black;
}