body{
  background-color: lightblue;
}
.contents{
  min-height: 100vh;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url(background.jpg);
}
.App-header{
  height: 50px;
  border-bottom: 5px;
}

